<template name="layout">
	<style>
	body{
		background-color: #effff6;
		
	}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #addbc1;
	}
	li {
    float: left;
	}
	li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}
	li a:hover {
    background-color: #56a578;
	}
	</style>
	<ul>
			<li><a href="{{pathFor 'home'}}">Home</a></li>
			<li><a href="{{pathFor 'books'}}">Your Books</a></li>
			<li><a href="{{pathFor 'movies'}}">Your Movies</a></li>
			<li><a href="{{pathFor 'tv'}}">Your TV shows</a></li>

	</ul>



	<!--	 Here is where the actual content of the page gets inserted by the router! -->
		{{> yield}}


</template>
